*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*      Main Layout Structure       */

.layout{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.layout > *{
    border: 1px solid red;
    background-color: palegoldenrod;

}


/* ******************************************************** */
/* ***************** Sidebar Styling rules **************** */
/* ******************************************************** */

/* Main container */
.sidebar{
    grid-row: 1 / 3;
    background-color: #0ea5e9;
    color: rgb(255, 255, 255);
    display: grid;
    gap: 40px;
    padding: 10px 50px 0 10px;
}

.sidebar img{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(270deg) brightness(103%) contrast(100%);
}

/*   Logo Div    */
.sidebar .logo{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .navigation-1 .logo img, .sidebar .navigation-2 .logo img{
    width: 60%;
    height: 60%;
}

/*   Content inside sidebar    */
.sidebar p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    /* border: 2px solid green; */
}

/*      Dashboard Container   */ 

.dashboard{
    font-size: 1.2rem;
}
.navigation-1, .navigation-2{
    font-size: 1rem;
}


/*      Styling dashboard and children of vertical nav bars   */
.dashboard, .navigation-1 > *, .navigation-2 > *{
    display: flex;
    gap: 8px;
}


/* ******************************************************** */
/* ***************** Header Styling rules ****************  */
/* ******************************************************** */

